<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meu Consulta CEP</title>
    <style>
        body {
          background: grey;
          color: white;
        }

    </style>
</head>
<body>
    <h1>APP - Meu Consulta CEP</h1>
    <hr>
    <form action="consultar" method="GET">
        <label>Informe o CEP : </label><br><br>
        <input type="text" id="cep" name="cep"><br><br>
        <button type="submit">Consultar</button><br><br>
        <hr>
        <br>
        <label>Logradouro :</label>
        <input type="text" id="logradouro" name="logradouro" value="{{dadoscep.logradouro}}">
        <br><br>
        <label>Complemento :</label>
        <input type="text" id="complemento" name="complemento" value="{{dadoscep.complemento}}">
        <br><br>
        <label>Bairro :</label>
        <input type="text" id="bairro" name="bairro" value="{{dadoscep.bairro}}">
        <br><br>
        <label>Localidade :</label>
        <input type="text" id="localidade" name="localidade" value="{{dadoscep.localidade}}">
        <br><br>
        <label>UF :</label>
        <input type="text" id="uf" name="uf" value="{{dadoscep.uf}}">
    </form>


</body>
</html>